<div class="row">
	<div class="col-md-12">
		<p>
			<h1>Welcome to BesTrack.</h1>
			Track time per project, and build data from you previous ones to do better estimations for the next ones :)
		</p>

	</div>
</div>

<div class="row">
	<div class="col-md-4">
		
	</div>
	<div class="col-md-8">
	</div>
</div>